.container {
  background-color: "#000000";
  color: "#ffffff";
  margin: "auto";
  font-family: "-apple-system; Roboto; sans-serif; serif";
  height: "100%";
  min-height: "100vh";
  display: "flex";
  flex-direction: "column";
}

.content {
  display: "flex";
  height: 100%;
  flex: 1
}